<div class="wrapper">
  <div class="game__title">Mines</div>

  <div class="game__content">
    <div class="game__balance">Balance: 124 rub</div>
    <div class="game__stake">
      <div>Stake:</div>
      <input class="game__stake-input" type="text" placeholder="ставка" />
    </div>
    <div class="game__ratio">
      <div class="game__ratio-title">Ratio:</div>
      <select class="game__multiplier">
        <option class="game__multiplier-option" value="x0.5">0.5</option>
        <option class="game__multiplier-option" value="1">x1</option>
        <option class="game__multiplier-option" value="2">x2</option>
        <option class="game__multiplier-option" value="3">x3</option>
      </select>
    </div>
    <div class="game__winning">Winning: 150 rub</div>
  </div>

  <button class="game__button">Start</button>
</div>
