<div class="board-info">
  <div class="balance">Баланс: {{ user.balance }}</div>
  @if (gameStarted() && !showGameEndModal()) {
  <button class="exit-button" (click)="exitGame()">ВЫЙТИ</button>
  }
</div>
@if (!gameStarted() && !showGameEndModal()) {
<app-bet-selection
  [balance]="user.balance"
  (startGame)="startGameWithBet($event)"
></app-bet-selection>
} @else {
<div class="wrapper">
  <div class="sidebar__">
    @if (human()) {
    <app-sidebar
      [human]="human()!"
      [deckCount]="getDeckCount()"
      [trumpCard]="getTrumpCard()"
      [discardPile]="getDiscardPile()"
      (endTurn)="endTurn()"
      (takeCards)="takeCardsToHand()"
      [canEndTurn]="canEndTurn()"
    ></app-sidebar>
    }
  </div>
  <div class="games__">
    @if (computer()) {
    <app-player-cards
      [player]="computer()!"
      [isComputer]="true"
    ></app-player-cards>
    }
    <div
      class="table"
      [class.dropzone-active]="isDragging() && isDraggingOverTable()"
      (dragover)="onDragOverTable($event)"
      (drop)="onDropTable($event)"
      (dragenter)="onDragEnterTable($event)"
      (dragleave)="onDragLeaveTable($event)"
    >
      @for (pair of table(); track pair.attack) {
      <div class="card-pair" [@cardMove]>
        <div class="card attack" [ngClass]="getCardClasses(pair.attack)">
          <span class="rank top">{{ pair.attack.rank }}</span>
          <span class="suit">{{ getSuitSymbol(pair.attack.suit) }}</span>
          <span class="rank bottom">{{ pair.attack.rank }}</span>
        </div>
        @if (pair.defend) {
        <div
          class="card defend"
          [ngClass]="getCardClasses(pair.defend)"
          [@cardDefend]
        >
          <span class="rank top">{{ pair.defend.rank }}</span>
          <span class="suit">{{ getSuitSymbol(pair.defend.suit) }}</span>
          <span class="rank bottom">{{ pair.defend.rank }}</span>
        </div>
        }
      </div>
      }
    </div>
    @if (human()) {
    <app-player-cards
      [player]="human()!"
      [isComputer]="false"
      (dragStart)="onDragStart($event.event, $event.card)"
      (dragEnd)="onDragEnd($event)"
    ></app-player-cards>
    }
  </div>
</div>
} @if (isShowModalCashIn()) {
<app-modal></app-modal>
}

@if (isShowModalEndGame()) {
  <app-modal-end-game [text]="gameResult()"></app-modal-end-game>
}
