:host {
    .wrapper {
      // background-color: #140034;
      // padding: 20px 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 30px;
    }
  
    .game-link {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: #1a003a;
      padding: 20px 15px;
      border-radius: 20px;
  
      &__icon-container {
        max-width: 30px;
        max-height: 30px;
      }
  
      &__icon {
        width: 100%;
      }
    }
  
    .active {
      background-color: #c500ff;
    }
  }
  