<div class="player">
  <h2>{{ player.name }}</h2>

  <div class="card-container">
    <div
      cdkDropList
      id="cdk-drop-list-accept"
      (cdkDropListDropped)="drop($event)"
    >
      <h3>Принять карты</h3>
      <div
        *ngFor="let card of player.cards"
        cdkDrag
        [cdkDragData]="card"
        class="card"
      >
        {{ card.name }}
      </div>
    </div>

    <div
      cdkDropList
      id="cdk-drop-list-beat"
      (cdkDropListDropped)="drop($event)"
    >
      <h3>Отбить карты</h3>
      <div
        *ngFor="let card of player.cards"
        cdkDrag
        [cdkDragData]="card"
        class="card"
      >
        {{ card.name }}
      </div>
    </div>

    <div
      cdkDropList
      id="cdk-drop-list-pass"
      (cdkDropListDropped)="drop($event)"
    >
      <h3>Отбой карт</h3>
      <div
        *ngFor="let card of player.cards"
        cdkDrag
        [cdkDragData]="card"
        class="card"
      >
        {{ card.name }}
      </div>
    </div>

    <div
      cdkDropList
      id="cdk-drop-list-throw"
      (cdkDropListDropped)="drop($event)"
    >
      <h3>Подкинуть карты</h3>
      <div
        *ngFor="let card of player.cards"
        cdkDrag
        [cdkDragData]="card"
        class="card"
      >
        {{ card.name }}
      </div>
    </div>
  </div>
</div>
