<div class="wrapper">
  <div class="user-profile">
    <img
      class="user-profile__avatar"
      src="{{ 'assets/image/icon-user.png' }}"
      alt="icon-user"
    />
    <div class="user-profile__name">{{user.firstname}}</div>
  </div>
  <div class="user-stats">
    <div class="user-stats__balance">
      Игровой баланс: <span class="user-stats__amount">{{user.balance}} $</span>
    </div>
    <div class="user-stats__details">
      <div class="user-stats__games">
        Игр: <span class="user-stats__count">{{user.games}}</span>
      </div>
      <div class="user-stats__wins">
        Побед: <span class="user-stats__count">{{user.wins}}</span>
      </div>
      <div class="user-stats__earnings">
        Заработок: <span class="user-stats__amount">{{user.earnings}} $</span>
      </div>
    </div>
    <div class="user-actions">
      <a routerLink="cash-in" class="user-actions__link">Кошелек</a>
      <a href="https://telegram.me/LuckyCasinoSecurityBot" class="user-actions__link">Чат игроков</a>
    </div>
  </div>
</div>