<div class="wrapper">
  <div class="user-card">
    <div class="user-card__info">
      <div class="user-card__container-image">
        <img
          class="user-card__image"
          src="{{ 'assets/image/icon-user.png' }}"
          alt="icon-user"
        />
      </div>
      <p class="user-card__first-name">Andrey</p>
      <p class="user-card__last-name">Lapshin</p>
    </div>
  </div>
  <div class="user-card__comments">
    <span>comments</span>
    <div class="user-card__time">19.30</div>
  </div>
</div>
