<div class="wrapper">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="container">
      <div class="item">
        <div class="item__online">
          <div class="item__status"></div>
          <span class="item__count">25</span>
        </div>
        <a href="#" class="item__link">Comments</a>
      </div>
      <div class="container__feedback">
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
        <app-feedback></app-feedback>
      </div>
    </div>
  </div>
  