<div class="title">Mines</div>
<div>
  <div class="wins">Выигрыш: {{ wins | currency }}</div>
  <div class="board">
    @for (row of board; track rowIndex; let rowIndex = $index) {
    <div>
      @for (cell of row; track colIndex; let colIndex = $index) {
      <div
        class="cell"
        [class.revealed]="cell.isRevealed"
        (click)="revealCell(rowIndex, colIndex)"
      >
        @if (cell.isRevealed) {
        <span>
          @if (cell.isMine) { 💣 } @else {
          {{ cell.neighboringMines > 0 ? cell.neighboringMines : "" }}
          }
        </span>
        }
      </div>
      }
    </div>
    }
  </div>
</div>

@if (isShowButtonExit) {
<ng-container>
  <a routerLink=".." class="link"> Начать заново </a>
</ng-container>
} @else {
<ng-container>
  <a (click)="setWinsCash()" routerLink=".." class="link">Закончить игру</a>
</ng-container>
}
